<div class="Head">
  <div class="Head_rout">
    <button routerLink="" type="button" class="btn btn-outline-primary">Головна</button>
  </div>
  <div class="login" *ngIf="visio">
   <div>
     <button routerLink="registration" type="button" class="btn btn-outline-success">Зареєструватися</button>
   </div>
   <div >
     <button routerLink="login" type="button" class="btn btn-outline-success">Увійти</button>
   </div>
  </div>
  <div class="icon" *ngIf="visioIcon" >
    <a href=""> <img [src]="icon" alt=""></a>
  </div>
</div>


<router-outlet></router-outlet>
