<div class="Head">
  <div class="Head_rout">
    <button routerLink="" type="button" class="btn btn-outline-primary">Головна</button>
  </div>
  <div class="login" *ngIf="visio">
    <div>
      <button routerLink="registration" type="button" class="btn btn-outline-success">Зареєструватися</button>
    </div>
    <div>
      <button routerLink="login" type="button" class="btn btn-outline-success">Увійти</button>
    </div>
  </div>
  <div class="icon" *ngIf="visioIcon">
    <a routerLink=""> <img [src]="icon" alt=""></a>
    <button (click)="exiteBtn()">Вихід</button>
  </div>

</div>


<router-outlet></router-outlet>
