.user_page {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 35px;
}


.user_info {
  width: 28%;

}

.user_general_info {
  width: 72%;

}

.user_info_photo {
  display: flex;
  width: 250px;
  height: 250px;
  margin-left: 80px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.user_info_menu {
  margin-left: 80px;
  margin-top: 40px;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  display: flex;
}

.user_info_menu_item {

  margin: 20px 0 0 20px;
  width: 100%;
  height: 20px;

}

.item_name {
  display: block;
  width: 100%;
  color: #365472;
  text-decoration: underline;
  margin-bottom: 20px;
}
.item_name:hover{
  color: #ff3a44;
  text-decoration: none;
}
