<div class="res_head_img">
  <img [src]="restaurantInfo.path_to_img" alt="" width="100%" height="400px">
</div>
<div class="general_box">
  <div>
    <div class="big_description_box">
      <p class="res_name">{{restaurantInfo.name }} </p>
    </div>

    <div class="products_box">
      <div *ngFor="let menu of menuObj" class="menu_box">
        <p class="menu_box_name">
          {{menu.name}}
        </p>
        <div class="product_box_all">
          <div *ngFor="let prod of menu.products" class="product_box_description">
            <div class="product_img"></div>
            <p class="product_name">{{prod.name}}</p>
            <div class="product_box_footer">
              <span class="product_price">
                <span class="product_price_value"> {{prod.price}}</span>
                <span class="product_price_valuta"> грн </span>
              </span>
              <button class="product_box_btn" (click)="addToCard(prod)">Add to card</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<app-products *ngIf="showProducts" (onChanged)="addToCard($event)"></app-products>-->
  </div>
  <div>
    <div class="basket_card">
      <p class="basket_res_name"> Your order in {{restaurantInfo.name}}</p>
      <div class="basket_card_list" *ngFor="let product of orderList">
        <div class="basket_card_description">
          <span class="basket_product_name">{{product.name}}</span>
          <span>
            <span class="basket_product_price_value">{{product.price }}</span>
            <span class="basket_product_price_valuta"> грн </span>
          </span>
        </div>
        <div class="basket_product_quantity">
          <div class="basket_product_quantity_opt">
            <button (click)="subtractionQtt(product.id)">-</button>
            <form [formGroup]="nameForm">
              <input formControlName="quantity" [value]="product.qtt" (blur)="changeQtt(product.id)" class="basket_inp">
            </form>
            <button (click)="additionQtt(product.id)">+</button>
          </div>
          <button (click)="deleteBtn(product.id)">Delete</button>
        </div>
      </div>
      <div class="basket_total_price">
        <p>Total Price: {{totalPrice}}</p>
      </div>
      <div class="order_box">
        <button class="order_btn" (click)="SendOrder()"> Send order</button>
      </div>
    </div>
  </div>

</div>


