<div class="description_box">
  <h1> Виберіть меню </h1>
</div>
<div class="big_menu_box">
  <div *ngFor="let menu of menus" class="menu_name_box">
    <button class="menu_button" (click)="UploadProduct(menu.id)">
      <p>{{menu.name}}</p>
    </button>
  </div>
</div>
<div class="products_box">
  <div [class]="showBlock" *ngFor="let products of productsObj">
    <div class="products_childerns_box">
      <div class="product_photo"><p>Тут буде картинка</p></div>
      <div class="product_name"><p>{{products.product.name}}</p></div>
      <div class="product_order">
        <div class="counter">
          <!--<button (click)="MinusProduct()">-</button>-->
          <!--<input type="text" style="width: 25px; height: 25px" [(ngModel)]="counter" name="counter" required  >-->
          <!--<button (click)="AddProduct()">+</button>-->
        </div>
        <button (click)="Buy(products.product.id)">
          <p>Замовити</p>
        </button>
      </div>
    </div>
  </div>
</div>
