.name_and_basket_box {
  height: 10000px;
  position: absolute;
  margin-top: 370px;
  display: flex;
}

.big_description_box {
  border-radius: 10px;
  width: 780px;
  height: 150px;
  margin-left: 130px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.res_name {

  margin-left: 15px;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 25px;
}

.res_head_img {
  width: auto;
  display: inline-block;
  height: 400px;
  position: absolute;
}

.basket {


}

.basket_card {
  margin-left: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 350px;
  height: 420px;
  border-radius: 10px;
  /*position: fixed;*/
}

.menu {
}
