<div class="basket_box">
  <div class="basket_title"><p>Оформити замовлення</p></div>
  <div class="product_With_Basket">
    <div class="product_child" *ngFor="let product of basketProducts[0]">
      <div class="product">
        <div class="basket_name_product">
          <div class="delete_btn">
            <a (click)="DeleteProduct(product.id)">
              <img [src]="deleteIcon">
            </a>
          </div>
          <div>
            <p>{{product.name}}</p>
          </div>
        </div>
        <div class="basket_total_order">
          <div class="basket_product_price">
            <p>{{product.price}} грн</p>
          </div>
          <div class="basket_btn">
            <div>
              <button (click)="MinusQuant(product.id)">-</button>
            </div>
            <div class="basket_quantity">
              <form [formGroup]="nameForm">
                <input formControlName="quantity" type="number"
                       class="basket_inp" [value]="basket[product.id]" (blur)="ChangeQuantity(product.id)">
              </form>
            </div>
            <div>
              <button (click)="AddQuant(product.id)">+</button>
            </div>
            <div class="basket_total_product_price"><p></p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="basket_payment_box">
    <div class="choose_method">
      <form class="pay_form">
        <div class="radio_inp">
          <input type="radio" id="contactChoice1"
                 name="contact" value="cash" checked>
          <label for="contactChoice1" class="contactChoice1">Оплатити готівкою</label>

          <input type="radio" id="contactChoice2"
                 name="contact" value="card">
          <label for="contactChoice2">Безготівкова оплата</label>
        </div>
        <div class="pay_form_btn">
          <button (click)="sendOrder()">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </form>
    </div>

  </div>

</div>
